/* .cover_my{
    width: 100%;
    height: 100vh;
} */
.cover_my .my_dd{
    background-color:#fff;
    border-bottom: 3px solid rgba(188, 96, 75, 1);
}

.spe_li_d .le_d{
    color:RGBA(238, 169, 74, 1);
}

.spe_li_d .ri_d{
    color:#CD4140;
}

.spe_li_d{
    position: relative;
    left:-210px;
    height: 72px;
}

.spe_li_d span{
    display: inline-block;
    color:#fff;
    font-size: 28px;
    margin-left:10px;
    font-family: DOUYU-Font;
}

.spe_li_d img{
    position: relative;
    top:-7px;
}

.my_move{
    position: relative;
    left:-30px;
    letter-spacing: 2px;
}

.pro_d li a{
    color:#000;
    letter-spacing: 3px;
    font-family: SimSun;
    font-weight: 600;
}

.bottom_dd{
    width: 100%;
    height: 515px;
    overflow: hidden;
    background-color: rgba(242, 240, 240, 1);
    /* background-color:#F8EDED; */
    /* margin-top: -1px; */
}

.bottom_left_d{
    display: inline-block;
    position: relative;
    /* top:-312px; */
    width: 19%;
    height: 100%;
    background-color: RGBA(180, 87, 66, 1);    
    /* background-color: #CD4140; */
}

.avator_d{
    width: 100%;
    height: 100px;
    /* background-color: cyan; */
}

.avator_circle{
    display:inline-block;
    position: relative;
    left:10%;
    top:12%;
    width: 68px;
    height: 68px;
    background: #FFFFFF;
    border-radius: 50%;
}

.avator_name{
    display: inline-block;
    color:#fff;
    margin-left:10px;
}

.avator_name p{
    font-family: BritannicBold;
    font-size: 18px;
}

.avator_name span{
    display: inline-block;
    width: 48px;
    height: 19px;
    font-size: 12px;
}

.left_area{
    border-right: 1px solid #fff;
}

.avator_name div{
    position: relative;
    left:37px;
}

.bottom_left_d ul>li{
    position: relative;
    width: 100%;
    height: 65px;
    color:#fff;
    line-height: 65px;
    font-size: 14px;
    cursor: pointer;
}

.bottom_left_d ul li img{
    margin-left: 20px;
    position: relative;
    top:10px;
}

.bottom_left_d ul .cur_li img{
    position: absolute;
    top:16px;
    left:-4px;
}

.bottom_left_d ul .cur_li span{
    top:0px;
    left:60px;
}

.bottom_left_d ul li span{
    position: absolute;
    top:0px;
    left:64px;
    font-style: Adobe Heiti Std R;
    font-size: 13px;
    letter-spacing: 2px;
}

.bottom_left_d ul .cur_li{
    width: 98%;
    background-color: rgba(172, 79, 58, 1);
    border-left:4px solid #E9BDBD;
    border-radius: 2px;
}

.bottom_right_d{
    display: inline-block;
    position: absolute;
    top: 263px;
    width: 75%;
    height: 55%;
    /* background-color: #F8EDED; */
    /* background-color: saddlebrown; */
}

/* .zI_d{
    z-index: 1;
}

.zI{
    z-index: 0;
} */

.bottom_right_d h1{
    font-size: 26px;
    font-weight: normal;
    font-family: 'DOUYU-Font';
    position: relative;
    top:-160px;
    left:70px;
    letter-spacing: 3px;
    text-shadow: 3px 3px 3px rgba(216, 39, 35, 0.4);
}

.bottom_right_d .input_out{
    position: relative;
    top:-140px;
    left:76px;
    width: 851px;
    height: 26px;
    background: #FCF6F6;
    border: 2px solid #801B1A;
    border-radius: 16px;
    padding-left:15px;
    outline: none;
}

.bottom_right_d ul{
    position: relative;
    height: 216px;
    top:-110px;
    margin-left:55px;
}

.bottom_right_d ul li{
    float: left;
    width: 172px;
    height: 216px;
    margin-left:45px;
}

.inner_box{
    position: absolute;
    width: 136px;
    height: 194px;
    background-color:rgba(205, 65, 64, 1);
    margin: auto auto;
    margin-top:8px;
    margin-left:18px;
    /* animation: rota 3s linear;
    -webkit-animation:rota 3s linear; */
    border-radius: 9px;
}

/* @keyframes rota{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-15deg);
    }
}

@-webkit-keyframes rota{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-15deg);
    }
} */

li .inner_hide{
    position: absolute;
    width: 136px;
    height: 194px;
    background-color: rgba(188, 96, 75, 1);
    /* background-color:rgba(205, 65, 64, 1); */
    margin: auto auto;
    margin-top:3px;
    margin-left:20px;
    border-radius: 9px;
    transform: rotate(0deg);
}

.out_box{
    position: absolute;
    width: 136px;
    height: 196px;
    background-color:rgba(252, 246, 246, 1);
    margin: auto auto;
    margin-top:7px;
    margin-left:20px;
    border-radius:9px;
    cursor: pointer;
}

.out_circle_d{
    width: 94px;
    height: 94px;
    border-radius: 48px;
    border:2px solid rgba(199, 63, 62, 1);
    margin-top:8px;
    margin-left:18px;
}

.out_circle_d div{
    width: 74px;
    height: 74px;
    border-radius:37px;
    margin-top:9px;
    margin-left:10px;
    background-color: rgba(128, 27, 26, 1);
}

.pink_bottom{
    width: 110px;
    height: 50px;
    background-color: rgba(248, 151, 151, 1);
    margin-top:6px;
    margin-left:13px;
}

.out_box img{
    position: absolute;
    top:70px;
    left:43px;
    cursor: pointer;
}

/* .out_box img:hover{
    animation: rota 2s linear;
    -webkit-animation: rota 2s linear;
}

@keyframes rota{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rota{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */

.bottom_right_d ul li p{
    position: absolute;
    top:98px;
    left:-27px;
}

.bottom_right_d ul li p span img{
    width: 13px;
}

.number_change{
    color:#CD4140;
    font-size:9px;
    position: absolute;
    top:70px;
    left:0px;
    transform: scale(0.6);
}

.bottom_right_d ul li .right_icon_d{
    position: absolute;
    top:98px;
    left:64px;
}


/* 滑动选择盒 */

.bottom_left_d ul li .slide_ul_d{
    position: absolute;
    top:0px;
    /* 用left定位会随着网页宽度变化位置发生改变，用right定位则不会 */
    /* right:-170px; */
    /* width: 170px; */
    left:241px;
    width: 0px;
    height: 130px;
    z-index: 2;
    background-color:#fff;
    border-radius: 5px;
    overflow: hidden;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.bottom_left_d ul li .slide_ul_d li{
    width: 170px;
    height: 43px;
    line-height: 43px;
    color:#000;
    cursor: pointer;
}

.bottom_left_d ul li .slide_ul_d li:hover{
    /* background-color: #E9BDBD; */
    background-color: rgba(248, 151, 151, .1);
}

.bottom_left_d ul li .slide_ul_d li img{
        width: 23px;
}

.bottom_left_d ul li .slide_ul_d li span{
    position: relative;
    top:4px;
    left:55px;
}

/* 搜索图标 */

form{
    position: relative;
}

.search_icon_d{
    position: absolute;
    width: 18px;
    top: -133px;
    left: 488px;
}

form span{
    position: absolute;
    font-size: 12px;
    top: -133px;
    left: 513px;
    color:#888383;
}


.rotate_slowly{
    /* transition: transform .4s;
    transform: rotate(-15deg); */
    animation: ro_slow .7s forwards;
}

@keyframes ro_slow{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-15deg);
    }
}

@-webkit-keyframes ro_slow{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-15deg);
    }
}

/* .rotate_back{
    animation: ro_back .5s forwards;
}

@keyframes ro_back{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-15deg);
    }
}

@-webkit-keyframes ro_back{
    0%{
        transform:rotate(-15deg);
    }
    100%{
        transform:rotate(0deg);
    }
} */

.put_in{
    position: relative;
    left:-50px;
}

.put_out{

    position: relative;
    top:-38px;
    left:40px;
}

