
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: auto;
}

body {
    font-weight: 300;
    margin: 0;
    padding: 1em;
    word-break: break-word;
    background-color: #f5f5f8;
}

input, button, textarea, select, option {
    font-family: Arial, "Microsoft YaHei", "Microsoft Sans Serif", "Microsoft SanSerf";
    font-family: Simsun;
}

main {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em 1.5em 1.3em 1.5em;
    border-radius: 12px;
    border: 1px solid #e9eaec;
    /* box-shadow: 1px 1px 1em #ececb4, -1em 0 0.4em #ececb4; */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
}

h1{
    letter-spacing: 3px;
    font-family: 'DOUYU-Font';
    font-weight: 400;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0 0 0.8em 0;
    padding: 0 0 0.2em 0;
    font-family: Simsun;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 20px;
}

h2:not(:first-child) {
    margin-top: 10px;
}

label {
    display: block;
    position: relative;
    width: 25%;
    height: 117px;
    border: 1px dashed #d0d7dd;
    border-radius: 4px;
    line-height: 124px;
    color: #d0d7dd;
    background-color: rgba(208, 215, 221, .2);
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;
}

label.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: unset;
    background-clip: padding-box;
}

label.cover span {
    display: none;
}

label span:nth-of-type(2) {
    position: absolute;
    display: none;
    bottom: 0px;
    top: 0px;
    left: 27px;
    right: 0px;
    background-color: rgba(0, 0, 0, .4);
    font-size: 14px;
    line-height: 8;
    padding: 6px 0;
    margin-left: -28px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}


label.cover:hover span:not(:first-child) {
    display: block;
}

label:focus, label:hover {
    /* border-color: #dbdb07;
    color: #dbdb07; */
    border-color: #2F3954;
    color:#2F3954;
}

label span:nth-child(1){
    font-family: Simsun;
    letter-spacing: 2px;
}

.intro_wrap {
    position: relative;
}

textarea {
    display: block;
    resize: vertical;
    padding: 5px 7px;
    line-height: 1.5;
    width: 100%;
    color: #1f2d3d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    font-size: 14px;
    box-sizing: border-box;
    min-height: 96px;
}


textarea:focus {
    outline: 0;
    border-color: #2F3954;
}

.sub_footer {
    width: calc(100% - 24px);
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type=submit] {
    border-radius: 4px;
    min-width: 104px;
    height: 32px;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    padding: 6px 12px;
    border: 0;
    background-color: #2F3954;
    color: #fff;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #BC5844;
}

input#title {
    height: 25px;
    padding: 2px 8px;
    line-height: 25px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
}

input#title:focus {
    border-color: #2F3954;
}

input[type=submit]:disabled {
    cursor: not-allowed;
    background-color: #e9eaec;
    color: #b4b4b4;
}

select {
    width: 100px;
    height: 32px;
    padding: 5px;
    outline: none;
    border: 1px solid gainsboro;
    letter-spacing: 2px;
    font-family: Simsun;
    font-weight: 600;
}

select:focus {
    border-color: #2F3954;
}

h1 {
    text-align: center;
}