.agri_main{
    width: 75%;
    margin:15px auto;
    overflow: hidden;
}

.big_pic_zn{
    background: url(../images/zhunong.jpg) center top;
}

.wrap_ag .agri_d{
    margin-top:10px;
    line-height: 35px;
    margin-left: 30px;
}

.agri_d img{
    position: relative;
    top:10px;
    left:20px;
}