body {
    height: auto;
    width: 1280px;
    overflow: hidden;
}

.contain {
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 537px;
    background-color: rgb(189, 87, 69);
    letter-spacing: 5px;
    transition: all 1s;
    z-index: 11;
}

.contain span {
    position: absolute;
    top: 35px;
    left: 40px;
    color: rgb(187, 88, 69);
    background-color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.contain .cards {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 300px;
    /* background-color: skyblue; */
}

.contain .cards li {
    position: absolute;
    top: 0px;
    width: 250px;
    height: 350px;
    background-color: #fff;
    border-radius: 8px;
    transition: all 1s;
}


/* 
.contain .cards li .cover,
.contain .cards li .back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.8s ease-in-out;
}

.contain .cards li .cover {
    transform: rotateY(0deg);
}

.contain .cards li:hover .cover {
    transform: rotateY(180deg);
}

.contain .cards li .back {
    transform: rotateY(180deg);
}

.contain .cards li:hover .back {
    transform: rotateY(0deg);
} */

.contain .cards .a {
    transform: translate(0%, -56px) rotate(-20deg);
    background-color: #fff;
}

.contain .cards .b {
    transform: translate(51%, -107px) rotate(-12deg);
    background-color: rgb(27, 19, 19);
    /* display: none; */
}

.contain .cards .c {
    transform: translate(105%, -140px) rotate(-5deg);
    background-color: rgb(243, 88, 88);
    /* display: none; */
}

.contain .cards .d {
    transform: translate(156%, -151px) rotate(0deg);
    background-color: rgb(36, 132, 195);
    /* display: none; */
}

.contain .cards .e {
    transform: translate(212%, -136px) rotate(6deg);
    background-color: rgb(53, 184, 81);
    /* display: none; */
}

.contain .cards .f {
    transform: translate(264%, -109px) rotate(12deg);
    background-color: rgb(36, 22, 144);
    /* display: none; */
}

.contain .cards .g {
    transform: translate(312%, -67px) rotate(20deg);
    background-color: rgb(133, 19, 148);
    /* display: none; */
}

.contain .word {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    line-height: 35px;
    font-size: 22px;
    color: #fff;
    text-align: center;
}


/* 选卡片后显示的 */

.text {
    position: relative;
    top: -537px;
    left: 0px;
    width: 100%;
    height: 537px;
    background-color: rgb(189, 87, 69);
    letter-spacing: 2px;
    display: block;
    transition: all 1s;
    opacity: 0;
}

.text .options {
    width: 100%;
    height: 50px;
    background-color: rgb(247, 247, 247);
    text-align: center;
    line-height: 50px;
}

.text .options button {
    border: none;
    outline: none;
    background-color: rgb(247, 247, 247);
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.text .options button:hover {
    background-color: rgb(205, 235, 246);
}

.text .options button.choice {
    background-color: rgb(205, 235, 246);
}

.text #fontSize {
    border: none;
    outline: none;
}

.text .emjoy {
    position: relative;
}

.text .emjoy .emjoys {
    position: absolute;
    top: 32px;
    left: -200px;
    width: 500px;
    height: 400px;
    padding: 10px;
    padding-left: 25px;
    background-color: rgb(240, 235, 235);
    border-radius: 5px;
    z-index: 10;
    overflow: auto;
    display: none;
}

.text .emjoy .emjoys li {
    float: left;
    width: 25px;
    height: 25px;
    padding: 8px;
    font-size: 20px;
}

.text .emjoy .emjoys li:hover {
    background-color: rgb(182, 250, 255);
}

.text .output {
    position: absolute;
    top: 70px;
    left: 50%;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(-50%);
    width: 400px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    outline: none;
    overflow: auto;
    word-break: break-all;
}

.text .submit {
    position: absolute;
    bottom: 16px;
    right: 300px;
    width: 70px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}