* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 1280px;
}


/* 一开始展示的页面 */

.wrap {
    position: relative;
    top: 0px;
    left: 0px;
}

.wrap .middle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 537px;
    letter-spacing: 5px;
    margin: 0px auto;
    transition: all 1s;
    background: url(../images/cloudWall1.jpg);
    background-size: 100%;
}

.wrap .middle>div {
    float: left;
}

.wrap .middle .child_hope {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* background-color: rgb(255, 238, 232); */
}

.wrap .middle .child_hope .word {
    position: absolute;
    top: 27px;
    left: 32px;
    width: 110px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(187, 88, 69);
    background: url(../images/cloudword.png) no-repeat;
    background-size: 100%;
}

.wrap .middle .our_hope {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    /* background-color: rgb(187, 88, 69); */
}

.wrap .middle .contain {
    width: 300px;
    height: 400px;
    /* background-color: pink; */
}

.wrap .middle .contain h2 {
    margin-bottom: 10px;
    text-align: center;
    line-height: 50px;
    color: rgb(25, 39, 70);
    font-size: 24px;
}

.wrap .middle .contain .card {
    width: 250px;
    height: 300px;
    /* background-color: #fff; */
    margin: 0 auto;
}

.wrap .middle .contain .card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.wrap .middle .contain h3 {
    margin-top: 15px;
    text-align: center;
    line-height: 30px;
    color: rgb(187, 88, 69);
    font-size: 18px;
}

.wrap .middle .our_hope h2,
.wrap .middle .our_hope h3 {
    color: #fff;
}


/* 点击左边图片后展示的页面 */

.wrap .left {
    position: absolute;
    top: 0px;
    left: -100%;
    width: 1280px;
    height: 537px;
    background-color: pink;
    overflow: hidden;
    transition: all 1s;
    background: url(../images/cloudWall3.jpg);
    background-size: 100%;
}

.wrap .left>span {
    position: absolute;
    top: 27px;
    left: 32px;
    width: 110px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: rgb(187, 88, 67);
    background: url(../images/cloudword.png) no-repeat;
    background-size: 100%;
}

.wrap .left .box {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 1080px;
    height: 330px;
    overflow: hidden;
    /* background-color: yellow; */
}

.wrap .left .cards {
    position: absolute;
    top: 0;
    left: 0px;
    width: 1080px;
    height: 330px;
    /* background-color: skyblue; */
    transition: all 0.5s ease;
}

.wrap .left .cards li {
    position: relative;
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 330px;
    background-color: #fff;
}

.wrap .left .cards li img {
    width: 100%;
    height: 100%;
}

.wrap .left .cards li .cover,
.wrap .left .cards li .back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.wrap .left .cards li .cover {
    transform: rotateY(0deg);
}

.wrap .left .cards li:hover .cover {
    transform: rotateY(180deg);
}

.wrap .left .cards li .back {
    position: relative;
    width: 230px;
    height: 330px;
    padding: 10px;
    box-sizing: border-box;
    transform: rotateY(180deg);
    letter-spacing: 3px;
}

.wrap .left .cards li:hover .back {
    transform: rotateY(0deg);
}

.wrap .left .cards li .back p {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 210px;
    height: 300px;
    line-height: 20px;
    font-size: 18px;
    overflow: auto;
    word-wrap: break-word;
}

.wrap .left .cards li .back span {
    position: absolute;
    /* width: 40px; */
    height: 20px;
    line-height: 20px;
    bottom: 11px;
    right: -8px;
}

.wrap .left .write {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.wrap .left .line {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
}

.wrap .left .goBack {
    position: absolute;
    top: 10px;
    right: 40px;
    color: #fff;
    cursor: pointer;
}

.wrap .left .goBack i {
    font-size: 30px;
}


/* 点击右边图片后展示的页面 */

.wrap .right {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 1280px;
    height: 537px;
    /* background-color: pink; */
    overflow: hidden;
    transition: all 1s;
    background: url(../images/cloudWall2.jpg);
    background-size: 100%;
}

.wrap .right>span {
    position: absolute;
    top: 12px;
    right: 14px;
    width: 110px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: rgb(187, 88, 67);
    background: url(../images/cloudword.png) no-repeat;
    background-size: 100%;
}

.wrap .right .box {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 1080px;
    height: 330px;
    overflow: hidden;
    /* background-color: pink; */
}

.wrap .right .cards {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1080px;
    height: 330px;
    /* background-color: skyblue; */
    transition: all 0.5s ease;
    /* overflow: hidden; */
}

.wrap .right .cards li {
    position: relative;
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 330px;
    background-color: #fff;
}

.wrap .right .cards li img {
    width: 100%;
    height: 100%;
}

.wrap .right .cards li .cover,
.wrap .right .cards li .back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.wrap .right .cards li .cover {
    transform: rotateY(0deg);
}

.wrap .right .cards li:hover .cover {
    transform: rotateY(180deg);
}

.wrap .right .cards li .back {
    transform: rotateY(180deg);
}

.wrap .right .cards li:hover .back {
    transform: rotateY(0deg);
}

.wrap .right .cards li .back p {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 210px;
    height: 300px;
    line-height: 20px;
    font-size: 18px;
    overflow: auto;
    word-wrap: break-word;
}

.wrap .right .cards li .back span {
    position: absolute;
    /* width: 40px; */
    height: 20px;
    line-height: 20px;
    bottom: 11px;
    right: -8px;
}

.wrap .right .write {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.wrap .right .line {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
}

.wrap .right .goBack {
    position: absolute;
    top: 10px;
    left: 30px;
    cursor: pointer;
    color: #fff;
}

.wrap .right .goBack i {
    font-size: 26px;
}