* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    position: relative;
    font-family: 'DOUYU Font';
}

h2 {
    letter-spacing: 5px;
    font-size: 20px;
}

body,
html {
    min-width: 1250px;
    width: 100%;
    /* 新增 */
    /* 这个height很重要！！！！救命 */
    height: 100%;
    overflow: hidden;
}

.the_st {
    position: relative;
    top: 14px;
    width: 60%;
    height: 40px;
}

.the_st>* {
    float: left;
}

.the_st h2 {
    color: #bc604b;
}

.the_st .one {
    position: absolute;
    top: 0px;
    left: 47px;
}

.the_st .two {
    position: absolute;
    top: 0px;
    left: 135px;
    font-family: 'DOUYU-Font';
    letter-spacing: 3px;
    font-weight: 400;
}

.the_st .left_line,
.the_st .middle_line,
.the_st .right_line {
    position: absolute;
    /* height: 1px; */
    border: 1px solid #bfb9b9;
    top: 13px;
    opacity: 0;
    /* width: 0; */
    /* margin: 13px 7px 0px; */
    background-color: #bfb9b9;
    overflow: hidden;
    transition: all 0.5s;
}

.the_st .left_line {
    width: 40px;
    /* left: 0px; */
    left: -40px;
}

.the_st .middle_line {
    width: 50px;
    /* left: 80px; */
    left: 30px;
}

.the_st .right_line {
    width: 150px;
    /* left: 235px; */
    left: 85px;
}

.gif_s {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 47px;
    left: 10px;
}

.gif_s img {
    width: 100%;
    height: 100%;
}

.more_s {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 95px;
    height: 20px;
    z-index: 25;
    font-size: 15px;
}


/* 轮播图版块 */

.slideshow {
    position: relative;
    /* width: 1280px; */
    width: inherit;
    height: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
}

.slideshow .log_in,
.slideshow .sign_in {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    z-index: 10;
    cursor: pointer;
}

.slideshow .log_in {
    right: 125px;
}

.slideshow .log_in img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.slideshow .sign_in {
    right: 40px;
}

.slideshow .sign_in.sign_in2 {
    width: 100px;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    right: 15px;
    font-weight: 700;
    text-shadow: 0 0 1px #000;
    background: rgba(255, 255, 255, 0);
    color: #fff;
}

.slideshow .index_nav {
    position: absolute;
    top: 0px;
    left: 260px;
    background-color: rgba(0, 0, 0, .1);
    font-size: 16px;
    font-weight: 700;
    z-index: 15;
    letter-spacing: 3px;
}

.slideshow .index_nav li {
    float: left;
    margin: 5px 20px;
    padding-top: 8px;
}

.slideshow .index_nav li a {
    color: #fff;
}

.slideshow .index_nav li.choice {
    border-top: 2px solid #f3532f;
    padding-top: 6px;
}

.slideshow .index_nav li.choice a {
    color: #f3532f;
}

.slideshow .index_nav li:hover {
    border-top: 2px solid #f3532f;
    padding-top: 6px;
}

.slideshow .index_nav li:hover a {
    color: #f3532f;
    text-decoration: none;
}

.slideshow .slide_contain {
    width: 1262px;
    margin: 0 auto;
}

.slideshow .slide_contain .first {
    position: relative;
    /* width: 1280px; */
    width: inherit;
    height: 400vh;
    top: 0px;
}

.slideshow .slide_contain .first .left_title_d {
    position: relative;
    font-family: 'DOUYU-Font';
    font-size: 26px;
    top: 10px;
    left: 40px;
    z-index: 5;
    color: #F3AF52;
}

.slideshow .slide_contain .first .white_title {
    color: #e33b17;
    margin-left: 6px;
}

.slideshow .slide_contain .move_box {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.slideshow .slide_contain .move_box>img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: -5;
}

.slideshow .slide_contain .first p {
    position: absolute;
    top: 201px;
    left: 185px;
    color: #fff;
    font-size: 35px;
    line-height: 57px;
    font-weight: 700;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px #000;
    font-family: 'DOUYU-Font';
    /* font-family: 'DOUYU Font'; */
    z-index: 10;
}

.slideshow .slide_contain .first p span {
    color: #e33b17;
}

.slideshow .slide_contain .first .big_circle {
    position: absolute;
    top: 160px;
    right: 208px;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
}

.slideshow .slide_contain .first .big_circle>img {
    position: absolute;
    left: -118px;
    width: 140%;
    height: 100%;
}

.slideshow .slide_contain .first .sm_lf_cicle,
.slideshow .slide_contain .first .sm_rg_cicle {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    background-color: #fff;
    font-weight: 700;
}

.slideshow .slide_contain .first .sm_lf_cicle {
    top: 225px;
    right: 486px;
    color: #2f3855;
    z-index: 15;
}

.slideshow .slide_contain .first .sm_rg_cicle {
    top: 375px;
    right: 186px;
    color: #bf604a;
    z-index: 15;
}


/* 创益简介版块 */

.intro {
    /* width: 1280px; */
    width: inherit;
    position: relative;
    height: 100vh;
    margin: 0 auto;
    /* background-color: pink; */
}

.more_s.intro_more a {
    color: rgb(47, 56, 85);
    text-decoration: none;
}

.intro .intro_box {
    position: relative;
    margin: 0 auto;
    width: 1262px;
    height: 100%;
}


/* 
.intro .intro_st {
    width: 60%;
    height: 40px;
}

.intro .intro_st>* {
    float: left;
}

.intro .intro_st h2 {
    color: #bc5f4d;
}

.intro .intro_st .intro_left_line::before {
    content: '';
}

.intro .intro_st .intro_middle_line::before {
    content: '';
}

.intro .intro_st .intro_right_line::before {
    content: '';
} */

.intro .intro_nd .intro_nd_lf {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 100px;
    left: 100px;
}

.intro .intro_nd .intro_nd_lf p {
    width: 460px;
    font-size: 16px;
    color: #63423b;
    letter-spacing: 3px;
    line-height: 25px;
    opacity: 0;
}

.intro .intro_nd .intro_nd_lf .creat_project,
.intro .intro_nd .intro_nd_lf .join_team {
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: none;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 700;
}

.intro .intro_nd .intro_nd_lf .creat_project {
    /* background-color: #2f3954;
    color: #fff; */
    margin-left: 30px;
    font-family: 'DOUYU-Font';
    letter-spacing: 4px;
    cursor: pointer;
    opacity: 0;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    color: #2f3954;
    border: 2px solid #2f3954;
}

.intro .intro_nd .intro_nd_lf .creat_project:hover {
    background-color: #2f3954;
    color: #fff;
}

.intro .intro_nd .intro_nd_lf .join_team {
    border: 2px solid #2f3954;
    color: #2f3954;
    margin-left: 72px;
    font-family: 'DOUYU-Font';
    letter-spacing: 4px;
    cursor: pointer;
    opacity: 0;
}

.intro .intro_nd .intro_nd_lf .join_team:hover {
    background-color: #2f3954;
    color: #fff;
}

.intro .intro_nd .intro_nd_rg {
    position: absolute;
    width: 400px;
    height: 587px;
    top: 0px;
    right: -9px;
    background-color: #2f3855;
    z-index: 10;
}

.intro .intro_rd {
    position: absolute;
    width: 405px;
    height: 587px;
    top: 0px;
    right: 50px;
    z-index: 15;
}

.intro .intro_rd img {
    width: 100%;
    height: 100%;
}


/* 志愿项目 */

.volunteer {
    /* width: 1280px; */
    width: inherit;
    position: relative;
    height: 100vh;
    background-color: #bc604b;
    overflow: hidden;
    margin: 0 auto;
}

.more_s.volunteer_more a {
    text-decoration: none;
    color: #fff;
}

.more_s.volunteer_more:hover a {
    color: rgb(47, 56, 85);
}

.volunteer .volunteer_box {
    position: relative;
    margin: 0 auto;
    width: 1250px;
    height: 100%;
}

.volunteer .the_st h2 {
    color: #ffd64c;
}

.volunteer .the_st .left_line,
.volunteer .the_st .middle_line,
.volunteer .the_st .right_line {
    border: 1px solid #eee0dd;
}


/* 
.volunteer .volunteer_st {
    width: 60%;
    height: 40px;
}

.volunteer .volunteer_st>* {
    float: left;
}

.volunteer .volunteer_st h2 {
    color: #ffd54b;
}

.volunteer .volunteer_st .volunteer_left_line::before {
    content: '';
}

.volunteer .volunteer_st .volunteer_middle_line::before {
    content: '';
}

.volunteer .volunteer_st .volunteer_right_line::before {
    content: '';
} */

.volunteer .volunteer_nd {
    position: absolute;
    top: 45px;
    left: 100px;
    width: 80%;
    height: 150px;
    text-align: center;
    letter-spacing: 4px;
}

.volunteer .volunteer_nd h3 {
    color: #000;
    line-height: 40px;
    font-family: 'DOUYU-Font';
}

.volunteer .volunteer_nd p {
    color: #fff;
    line-height: 26px;
    font-family: 'DOUYU-Font';
    font-weight: lighter;
}

.volunteer .volunteer_rd {
    position: absolute;
    top: 145px;
    left: 50%;
    margin-left: -223px;
    width: 440px;
    height: 440px;
}

.volunteer .volunteer_rd .search_cicle {
    position: relative;
    width: 100%;
    height: 100%;
}

.volunteer .volunteer_rd .search_cicle .search_box {
    position: absolute;
    /* width: 0px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 30px;
    z-index: 10;
    /* width: 320px; */
    /* overflow: hidden; */
}


/* .volunteer .volunteer_rd .search_cicle .search_box:hover input {
    width: 260px;
    padding: 0 10px;
}

.volunteer .volunteer_rd .search_cicle .search_box:hover .search_btn {
    border-left: 0px;
    right: -10px;
    color: #bc604b;
} */

.volunteer .volunteer_rd .search_cicle .search_box input {
    width: 0px;
    height: 60px;
    line-height: 60px;
    border: none;
    outline: none;
    padding: 0;
    color: #bc604b;
    background-color: #fff;
    border-radius: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.volunteer .volunteer_rd .search_cicle .search_box .search_btn {
    position: absolute;
    right: -31px;
    top: 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    background-color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.4s;
    cursor: pointer;
}

.volunteer .volunteer_rd .search_cicle img {
    width: 100%;
    height: 100%;
}

.volunteer .volunteer_rd .search_cicle .search_item {
    position: absolute;
    height: 20px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}

.volunteer .volunteer_rd .search_cicle .search_item i {
    position: absolute;
    top: 0px;
    left: -24px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/shixin.png);
    background-size: 100%;
}

.volunteer .volunteer_rd .search_cicle .search_item1 {
    top: 70px;
    right: 10px;
}

.volunteer .volunteer_rd .search_cicle .search_item2 {
    top: 200px;
    right: -25px;
    animation: float 3s ease-in-out infinite;
}

.volunteer .volunteer_rd .search_cicle .search_item3 {
    bottom: 80px;
    left: 193px;
}

.volunteer .volunteer_rd .search_cicle .search_item4 {
    bottom: 120px;
    left: 40px;
    animation: float 3s ease-in-out infinite;
}

.volunteer .volunteer_rd .search_cicle .search_item5 {
    top: 130px;
    left: 50px;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.volunteer .volunteer_rd .search_cicle .search_item span {
    color: #fff;
}

.volunteer .volunteer_4th .left_flag,
.volunteer .volunteer_4th .right_flag {
    position: absolute;
    width: 230px;
    height: 140px;
    background: url(../images/flag.jpg);
    background-size: 100%;
}

.volunteer .volunteer_4th .left_flag {
    opacity: 0;
    bottom: 25px;
    left: 100px;
}

.volunteer .volunteer_4th .left_flag p,
.volunteer .volunteer_4th .right_flag p {
    width: 230px;
    height: 140px;
    margin-top: 50px;
    letter-spacing: 3px;
    font-size: 14px;
    text-align: center;
}

.volunteer .volunteer_4th .right_flag {
    opacity: 0;
    top: 145px;
    right: 90px;
}


/* 风采展示版块 */

.show {
    /* width: 1280px; */
    width: inherit;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

.more_s.show_more a {
    color: rgb(47, 56, 85);
    text-decoration: none;
}

.more_s.show_more:hover a {
    color: #f3532f;
}

.show .show_box {
    position: relative;
    margin: 0 auto;
    width: 1250px;
}


/* 
.show .show_st {
    width: 60%;
    height: 40px;
}

.show .show_st>* {
    float: left;
}

.show .show_st h2 {
    color: #bb5e4c;
}

.show .show_st .show_left_line::before {
    content: '';
}

.show .show_st .show_middle_line::before {
    content: '';
}

.show .show_st .show_right_line::before {
    content: '';
} */

.show .show_nd {
    position: absolute;
    top: 45px;
    left: 396px;
    width: 38%;
    height: 90px;
    line-height: 45px;
    font-size: 20px;
    color: #bb5e4c;
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
}

.show .show_rd {
    position: absolute;
    top: 161px;
    left: 90px;
}

.show_nd>p {
    font-family: 'DOUYU-Font';
    font-weight: 400;
}

.show .show_rd>div {
    position: relative;
    float: left;
    width: 230px;
    height: 270px;
    top: 53px;
    margin-left: 95px;
    background-color: #fff;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.show .show_rd>div .top {
    width: 100%;
    height: 20px;
    margin: 5px 0;
    background: url(../images/fc4.png) no-repeat 13px 0;
    background-size: 90%;
}

.show .show_rd>div .middle {
    width: 100%;
    height: 130px;
    margin-top: 10px;
}

.show .show_rd>div .middle img {
    width: 100%;
    height: 100%;
}

.show .show_rd>div .bottom {
    width: 85%;
    height: 60px;
    margin: 0 auto;
    margin-top: 40px;
    letter-spacing: 3px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
}

.show .show_rd>div .end {
    position: absolute;
    bottom: -50px;
    left: 47px;
    width: 100%;
    height: 30px;
    background: url(../images/show_1.png) no-repeat 20px 0px;
    background-size: 36%;
}

.show .show_rd>div .icon-crown {
    position: absolute;
    top: -50px;
    left: 50%;
    width: 37px;
    height: 37px;
    transform: translateX(-50%);
    font-size: 40px;
}

.show .show_rd>div .icon-crown.first {
    color: rgb(253, 214, 83);
}

.show .show_rd>div .icon-crown.second {
    /* color: rgb(246, 246, 246); */
    color: #999;
}

.show .show_rd>div .icon-crown.third {
    color: rgb(211, 146, 50);
}


/* 招募志愿者板块 */

.recruitment {
    /* width: 1280px; */
    width: inherit;
    height: 100vh;
    margin: 0 auto;
    background: url(../images/recruitment.jpg);
    background-size: 100%;
}

.more_s.recruitment_more a {
    color: #fff;
    text-decoration: none;
}

.more_s.recruitment_more:hover a {
    color: rgb(47, 56, 85);
}

.recruitment .recruitment_box {
    position: relative;
    width: 1250px;
    margin: 0 auto;
}

.recruitment .the_st h2 {
    color: #f1bd4d;
}


/* 
.recruitment .recruitment_st {
    width: 60%;
    height: 40px;
}

.recruitment .recruitment_st>* {
    float: left;
}

.recruitment .recruitment_st h2 {
    color: #f3be4e;
}

.recruitment .recruitment_st .recruitment_left_line::before {
    content: '';
}

.recruitment .recruitment_st .recruitment_line::before {
    content: '';
}

.recruitment .recruitment_st .recruitment_line::before {
    content: '';
} */

.recruitment .recruitment_nd {
    position: absolute;
    width: 70%;
    height: 400px;
    top: 118px;
    left: 188px;
    background-color: #fff;
    border-radius: 27px;
    opacity: 0;
}

.recruitment .recruitment_nd .pic {
    position: relative;
    margin-left: -46px;
    margin-top: 65px;
    width: 336px;
    height: 268px;
    border-radius: 16px;
    /* background-color: cornflowerblue; */
    opacity: 0;
}

.recruitment .recruitment_nd .pic .pic_ul {
    position: relative;
    top: -2px;
}

.recruitment .recruitment_nd .pic .pic_ul .pic_li {
    position: absolute;
    transition: all .5s ease;
}

.recruitment .recruitment_nd .pic .point {
    position: absolute;
    top: 100px;
    right: -560px;
    width: 20px;
    height: 80px;
    /* background-color: red; */
    z-index: 20;
}

.recruitment .recruitment_nd .pic .point li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #999;
    cursor: pointer;
    transition: all 0.5s ease;
}

.recruitment .recruitment_nd .pic .point .light {
    width: 10px;
    height: 30px;
    border-radius: 5px;
    background-color: #d2543b;
}

.recruitment .recruitment_nd .pic img {
    width: 336px;
    height: 268px;
    border-radius: 16px;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, .1);
}

.recruitment .recruitment_nd .right {
    position: relative;
    top: -318px;
    left: 375px;
    width: 405px;
    margin: 0px;
    margin-top: 76px;
    /* margin-left: 110px; */
    letter-spacing: 3px;
    opacity: 1;
    font-family: 'DOUYU-Font';
    z-index: 1;
}

.recruitment .recruitment_nd .right h3 {
    margin-bottom: 12px;
    width: 405px;
    font-size: 20px;
    line-height: 47px;
}

.recruitment .recruitment_nd .right p {
    font-size: 14px;
    line-height: 30px;
    width: 405px;
}

.recruitment .recruitment_nd .right>button.opa {
    opacity: 0;
}

.recruitment .recruitment_nd .right>button {
    width: 150px;
    height: 46px;
    margin-top: 30px;
    margin-left: 61px;
    background-color: #fff;
    border: none;
    border: 4px solid #d2543b;
    font-size: 14px;
    opacity: 1;
    font-family: 'DOUYU-Font';
    letter-spacing: 3px;
    cursor: pointer;
}


/* 助农板块 */

.agriculture {
    /* width: 1280px; */
    width: inherit;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}

.more_s.agriculture_more a {
    color: rgb(47, 56, 85);
    text-decoration: none;
}

.more_s.agriculture_more:hover a {
    color: #f3532f;
}

.agriculture .agriculture_box {
    position: relative;
    margin: 0 auto;
    width: 1250px;
}


/* .agriculture .agriculture_st {
    width: 60%;
    height: 40px;
}

.agriculture .agriculture_st>* {
    float: left;
}

.agriculture .agriculture_st h2 {
    color: #bc604b;
}

.agriculture .agriculture_st .agriculture_left_line::before {
    content: '';
}

.agriculture .agriculture_st .agriculture_line::before {
    content: '';
}

.agriculture .agriculture_st .agriculture_line::before {
    content: '';
} */

.agriculture .agriculture_nd {
    position: absolute;
    top: 45px;
    left: 140px;
    width: 80%;
    height: 100px;
    color: #bc604b;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.agriculture_nd>p {
    font-family: 'DOUYU-Font';
    font-weight: lighter;
}

.agriculture .agriculture_rd,
.agriculture .agriculture_4th {
    position: absolute;
    width: 75%;
    height: 180px;
    left: 150px;
}

.agriculture .agriculture_rd {
    top: 175px;
}

.agriculture .agriculture_4th {
    top: 380px;
}

.agriculture .agriculture_rd .circle,
.agriculture .agriculture_4th .circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 184px;
    height: 184px;
    border-radius: 50%;
    background-color: #f4f0f1;
    z-index: 11;
    opacity: 0;
    /* transform: rotate(0deg);
    animation: gun 4s forwards;
    transition: all 4s; */
}

.agriculture .agriculture_rd .circle img,
.agriculture .agriculture_4th .circle img {
    width: 90%;
    height: 90%;
    margin-top: 9px;
    margin-left: 9px;
    border-radius: inherit;
}


/* @keyframes gun {
   100%{
       left:0px;
       transform: rotate(360deg);
   }
} */

.agriculture .agriculture_rd .rectangle,
.agriculture .agriculture_4th .rectangle {
    position: absolute;
    top: 11px;
    right: 0px;
    width: 90%;
    height: 90%;
    background-color: #f4f0f1;
    /* animation: toLeft 4s forwards;
    transition: all 4s; */
    opacity: 0;
}


/* @keyframes toLeft{
    100%{
        width: 90%;
    }
} */

.agriculture .agriculture_rd .rectangle p,
.agriculture .agriculture_4th .rectangle p {
    margin-left: 120px;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 700;
    /* font-family: 'DOUYU-Font'; */
    font-weight: bold;
}


/* 领养动物板块 */

.adopt {
    /* width: 1280px; */
    width: inherit;
    height: 100vh;
    margin: 0 auto;
    background: url(../images/cat2.jpg) 0 -184px;
    background-size: 100%;
}

.more_s.adopt_more a {
    color: #fff;
    text-decoration: none;
}

.more_s.adopt_more:hover a {
    color: #f3532f;
}

.adopt .adopt_box {
    position: relative;
    margin: 0 auto;
    width: 1250px;
}

.adopt .the_st h2 {
    color: #fff;
}

.adopt .the_st .left_line,
.adopt .the_st .middle_line,
.adopt .the_st .right_line {
    border: 1px solid #fff;
}


/* 
.adopt .adopt_st {
    width: 60%;
    height: 40px;
}

.adopt .adopt_st>* {
    float: left;
}

.adopt .adopt_st h2 {
    color: #fff;
}

.adopt .adopt_st .adopt_left_line::before {
    content: '';
}

.adopt .adopt_st .adopt_line::before {
    content: '';
}

.adopt .adopt_st .adopt_line::before {
    content: '';
} */

.adopt .adopt_nd {
    position: absolute;
    top: 45px;
    left: 300px;
    width: 55%;
    height: 100px;
    line-height: 42px;
    letter-spacing: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.adopt_nd>p {
    font-family: 'DOUYU-Font';
}

.adopt .adopt_rd {
    position: absolute;
    top: 186px;
    left: 324px;
    width: 52%;
    height: 360px;
    background-color: skyblue;
    opacity: 0;
}


/* 关爱儿童板块 */

.children {
    /* width: 1280px; */
    width: inherit;
    height: 100vh;
    margin: 0 auto;
    background-color: #f2efea;
}

.more_s.children_more a {
    color: rgb(47, 56, 85);
    text-decoration: none;
}

.more_s.children_more:hover a {
    color: #f3532f;
}

.children .children_box {
    position: relative;
    margin: 0 auto;
    width: 1250px;
}

.children .the_st .left_line,
.children .the_st .middle_line,
.children .the_st .right_line {
    border: 1px solid #bc604b;
}


/* .children .children_st {
    width: 60%;
    height: 40px;
}

.children .children_st>* {
    float: left;
}

.children .children_st h2 {
    color: #bc604b;
}

.children .children_st .children_left_line::before {
    content: '';
}

.children .children_st .children_line::before {
    content: '';
}

.children .children_st .children_line::before {
    content: '';
} */

.children .children_nd {
    position: absolute;
    top: 45px;
    left: 415px;
    width: 34%;
    height: 90px;
    line-height: 45px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #bc604b;
    text-align: center;
}

.children_nd>p {
    font-family: 'DOUYU-Font';
    font-weight: lighter;
}

.children .children_rd {
    position: absolute;
    top: 170px;
    left: 130px;
    width: 80%;
    height: 400px;
    /* background-color: pink; */
}

.children .children_rd .btn_items {
    position: absolute;
    top: 20px;
    left: 240px;
}

.children .children_rd .btn_items button {
    width: 100px;
    height: 50px;
    font-size: 14px;
    border: 3px solid #bc604b;
    border-radius: 5px;
    margin-right: 110px;
    opacity: 0;
    cursor: pointer;
}

.children .children_rd ul {
    position: absolute;
    top: 154px;
    left: 0px;
}

.children .children_rd ul li {
    float: left;
    width: 205px;
    height: 180px;
    background-color: skyblue;
    margin-right: 60px;
    border-radius: 10px;
    opacity: 0;
}

.children .children_rd ul li img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.children .children_rd ul li:last-child {
    margin-right: 0px;
}


/* 招兵买马 */

.recruit {
    width: inherit;
    height: 387px;
    margin: 0 auto;
    /* background-color: pink; */
}

.more_s.recruit_more a {
    color: rgb(47, 56, 85);
    text-decoration: none;
}

.more_s.recruit_more:hover a {
    color: #f3532f;
}

.recruit .recruit_box {
    position: relative;
    margin: 0 auto;
    width: 1250px;
}

.recruit .the_st .left_line,
.recruit .the_st .middle_line,
.recruit .the_st .right_line {
    border: 1px solid #bc604b;
}

.recruit .recruit_nd {
    position: absolute;
    top: 95px;
    left: 218px;
    width: 70%;
    height: 250px;
}

.recruit .recruit_nd>div {
    float: left;
    width: 230px;
    height: 250px;
    margin-right: 70px;
    background-color: rgb(242, 242, 242);
    text-align: center;
    line-height: 362px;
    font-size: 22px;
    color: #000;
    border-radius: 15px;
}

.recruit .recruit_nd>div:last-child {
    margin-right: 0px;
}

.recruit .recruit_nd>div>div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: 67px;
    font-size: 70px;
}

.recruit .recruit_nd>div:hover {
    background-color: hsl(11, 46%, 52%);
    color: #fff;
    cursor: pointer;
}

.recruit .recruit_nd>div h4 {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
}

.recruit .recruit_nd>div>p {
    width: auto;
    padding: 0 5px;
    margin: 15px auto;
    font-size: 12px;
    line-height: 34px;
    letter-spacing: 1px;
}

.recruit .recruit_nd .right {
    margin-right: 0px;
}


/* 页脚 */

.footer_d {
    position: absolute;
    bottom: 0px;
    width: inherit;
    height: 200px;
    background-color: hsl(11, 46%, 52%);
}


/* 顶部轮播图 */


/* .move_up1 {
    transition: all 1.5s;
    transform: translateY(-100%);
}

.move_up2 {
    transition: all 1.5s;
    transform: translateY(-200%);
}

.move_up3 {
    transition: all 1.5s;
    transform: translateY(-300%);
}

.move_up4 {
    transition: all 1.5s;
    transform: translateY(-400%);
}

.move_up0 {
    transition: all 1.5s;
    transform: translateY(0);
} */


/* 为动画增加的类名 */

.flag_up {
    transition: all 1.5s;
    /* animation: left_up 1s ease-in-out both; */
    animation: left_up 1.5s forwards;
}

@keyframes left_up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes left_up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.right_up {
    transition: all 1.5s;
    /* animation: left_up 1s ease-in-out both; */
    animation: right_up 1.5s forwards;
}

@keyframes right_up {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.btn_up {
    transition: all 1.5s;
    /* animation: left_up 1s ease-in-out both; */
    animation: btn_up 1.5s forwards;
}

@keyframes btn_up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.left_come {
    transition: all 2s;
    /* animation: left_up 1s ease-in-out both; */
    animation: left_come 2s forwards;
}

@keyframes left_come {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* 页脚部分 */

.footer {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    /* width: 1263px; */
    width: 1280px;
    height: 200px;
    margin: 0px auto;
    background-color: #bc604b;
}

.footer>div {
    float: left;
    margin-left: 50px;
}

.footer li {
    line-height: 30px;
    font-size: 15px;
    letter-spacing: 2px;
}

.footer li a {
    color: #fff;
}

.footer li:hover a {
    color: #ccc;
}

.footer .footer_lf {
    border-right: 1px solid #ccc;
}

.footer .footer_rg,
.footer .footer_lf {
    margin-top: 10px;
}

.footer .footer_lf h3,
.footer .footer_rg h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    color: #ccc;
}

.footer .footer_lf ul,
.footer .footer_rg ul {
    float: left;
    margin-right: 155px;
}

.footer .footer_rg ul:last-child {
    margin-right: 0px;
}