* {
    padding: 0;
    margin: 0;
}

.turn-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
    overflow: hidden;

}

.turn-page-wrapper>* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.turn-page-wrapper>li,
.turn-page-wrapper>span {
    float: left;
    margin: 0 8px;
    font-size: 14px;
    font-family: SimSun;
    color:#000;
}

.turn-page-wrapper>li {
    background-color: #EBE9E9;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius:4px
}


/* 清除浮动 */

.turn-page-wrapper::after {
    content: '';
    clear: both;
    display: block;
}

.turn-page-wrapper>li.current-page {
    background-color: #CD4140;
    color: #fff;
    border-radius:4px;
}

.turn-page-wrapper .turn_to {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 0;
    outline: none;
    text-align: center;
}

.turn-page-wrapper .turn_to_btn {
    outline: none;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-family: SimSun;
}

body {
    position: relative;
    min-width: 1250px;
    font-family: 'DOUYU Font';
    /* height: 2000px; */
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

.footer {
    width: 1263px;
    height: 200px;
    margin: 0 auto;
    background-color: #bc604b;
}

.footer>div {
    float: left;
    margin-left: 50px;
}

.footer li {
    line-height: 30px;
    font-size: 15px;
    letter-spacing: 2px;
}

.footer li a {
    color: #fff;
}

.footer li:hover a {
    color: #ccc;
}

.footer .footer_lf {
    border-right: 1px solid #ccc;
}

.footer .footer_rg,
.footer .footer_lf {
    margin-top: 10px;
}

.footer .footer_lf h3,
.footer .footer_rg h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    color: #ccc;
}

.footer .footer_lf ul,
.footer .footer_rg ul {
    float: left;
    margin-right: 155px;
}

.footer .footer_rg ul:last-child {
    margin-right: 0px;
}

.pro_box ul {
    width: 600px;
    height: 62px;
    line-height: 62px;
    margin: 0 auto;
}

.pro_box ul li {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    font-family: SimSun;
    font-weight: 700;
    letter-spacing: 3px;
    cursor: pointer;
}

.pro_box ul .pro_li_cur {
    border-bottom: 2px solid rgba(205, 65, 64, 1);
}

.pro_main {
    width: 70%;
    margin: 15px auto;
}

.main_top_d {
    font-size: 14px;
    font-family: SimSun;
    font-weight: 700;
    letter-spacing: 2px;
}

.sele_wrapper {
    width: 90%;
    /* height: 300px; */
    margin-top: 30px;
    margin-left: 10px;
}

.sele_wrapper img {
    position: relative;
    width: 30px;
    left: 15px;
    top: 10px;
}


/* .provin_inner{
    display: inline-block;
    width: 85%;

} */

.province_d span {
    font-size: 14px;
    display: inline-block;
    margin-left: 15px;
    font-family: SimSun;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding: 0px 6px;
    cursor: pointer;
}

.province_d {
    line-height: 35px;
    position: relative;
    margin-left: 45px;
}

.red_bg {
    background-color: #CD4140;
    color: #fff;
}

.red_bg_d {
    background-color: #CD4140;
    color: #fff;
}

.hide_city {
    position: relative;
    width: 90%;
    display: none;
    background: #F6F3F7;
    border: 1px solid #e5e5e5;
    margin: 15px auto;
}

.hide_city span {
    font-size: 14px;
    display: inline-block;
    margin-left: 15px;
    font-family: SimSun;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding: 0px 6px;
    letter-spacing: 3px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
}

.theme_d,
.people_d {
    line-height: 35px;
    margin-left: 45px;
    margin-top: 20px;
}

.theme_d span,
.people_d span {
    font-size: 14px;
    display: inline-block;
    margin-left: 15px;
    font-family: SimSun;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding: 0px 6px;
    cursor: pointer;
}

.pro_search {
    position: relative;
    width: 80%;
    height: 25px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 45px;
    padding-left: 108px;
    outline: none;
    background-color: #F1EFEF;
    overflow: hidden;
}

.inner_ul_d {
    width: 100px;
    height: 0px;
    background-color: #e5e5e5;
    position: absolute;
    top: 32px;
    left: -10px;
    overflow: hidden;
    transition: all .5s;
}

.inner_ul_d li {
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
}


/* 下面的立方盒子 */

.box {
    overflow: hidden;
}

.nine_box {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 250px;
    margin-top: 65px;
    margin-left: 45px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(49, 39, 39, 0.11);
    cursor: pointer;
}

.nine_box img:first-child {
    width: 220px;
    height: 60%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.nine_box img {
    position: absolute;
    width: 18px;
    top: 91%;
}

.nine_box .le_dd {
    left: 8px;
    width: 14px;
}

.nine_box .ri_dd {
    left: 64%;
}

.nine_box span {
    position: absolute;
    font-size: 12px;
    top: 91%;
    letter-spacing: 2px;
}

.nine_box .le_sp {
    left: 30px;
}

.nine_box .ri_sp {
    left: 74%;
}

.nine_box h1 {
    position: absolute;
    top: 63%;
    left: 10px;
    font-size: 14px;
    letter-spacing: 3px;
}

.nine_box p {
    width: 90%;
    height: 32px;
    position: absolute;
    top: 73%;
    left: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgba(123, 114, 114, 1);
    /* 多行的省略号 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.tagged_box {
    position: relative;
}

.left_em {
    position: absolute;
    left: 55px;
    top: 22px;
    font-size: 14px;
    font-family: SimSun;
    letter-spacing: 2px;
    font-weight: 700;
}

.left_em img {
    width: 22px;
    position: relative;
    top: 7px;
    left: -9px;
    cursor: pointer;
}

.center_em {
    position: relative;
    width: 200px;
    font-family: SimSun;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    top: -35px;
    left: 350px;
}

.center_em img {
    width: 20px;
    position: relative;
    left: 5px;
}

.center_em span {
    position: relative;
    top: 3px;
    font-size: 12px;
}

.tagged_copy {
    display: none;
}

.all_foot {
    position: absolute;
    left: 0px;
    width: 98vw;
    height: 200px;
    background-color: rgba(205, 65, 64, 1);
    margin-top: 50px;
}

.tagged_box .pro_foot {
    left: -191px;
}

/* 页脚部分 */

.footer {
    position:relative;
    /* bottom: 0px; */
    margin-top: 70px;
    left: 53%;
    transform: translateX(-50%);
    /* width: 1263px; */
    /* width: 1280px; */
    width: 100vw;
    height: 200px;
    /* margin: 0px auto; */
    background-color: #bc604b;
}

.footer>div {
    float: left;
    margin-left: 50px;
}

.footer li {
    line-height: 30px;
    font-size: 15px;
    letter-spacing: 2px;
}

.footer li a {
    color: #fff;
}

.footer li:hover a {
    color: #ccc;
}

.footer .footer_lf {
    border-right: 1px solid #ccc;
}

.footer .footer_rg,
.footer .footer_lf {
    margin-top: 10px;
}

.footer .footer_lf h3,
.footer .footer_rg h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    color: #ccc;
}

.footer .footer_lf ul,
.footer .footer_rg ul {
    float: left;
    margin-right: 155px;
}

.footer .footer_rg ul:last-child {
    margin-right: 0px;
}

/* 特殊 */
.left_foot{
    left:49%;
}