* {
    padding: 0;
    margin: 0;
}



/* @media screen and (min-width:1200px){
   
} */


html,body {
    position: relative;
    min-width: 1200px;
    margin:0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

/* 顶部导航盒子的样式 */
.top_d{
    position: relative;
    width: 100%;
    height:72px;
    line-height: 72px;
    /* background:linear-gradient(to right,#F3C8C7,#CC4341);
    background: -webkit-linear-gradient(to right,#F3C8C7,#CC4341); */
}

/* 顶部导航中心盒子的样式 */
.top_d .top-center_d{
    position: relative;
    width: 896px;
    height: 100%;
    margin: 0 auto;
}

.top_d .top-center_d .pro_d li{
    float: left;
    position: relative;
    margin-left: 47px;
    cursor: pointer;
}

.pro_d li img{
    display: inline-block;
    width: 65px;
    vertical-align: middle;
}

.pro_d li .title_d{
    /* font-style: lianmengqiyilushuaizhengruiheiti-Regular; */
    font-family: DOUYU-Font;
}

.top_d .top-center_d .pro_d li div{
    position: absolute;
    width: 110px;
    height: 0px;
    right:-25px;
    background-color: #ff0e0a;
    transition: all .6s;
    -webkit-transition:all .6s;
    -moz-transiyion:all .6s;
    overflow: hidden;
}

.top_d .top-center_d .pro_d .special_d:hover div{
    height:110px;
}

.top_d .top-center_d .pro_d li div .inner-ul_d{
    margin-left:0;
}

.top_d .top-center_d .pro_d li div .inner-ul_d li{
    margin-left:20px;
    line-height: 36px;
}

.top_d .top-center_d .pro_d li ul li{
   clear: both;
}

.cur_d{
    padding-bottom: 5px;
    border-bottom:#FF0E0A 4px solid;
    border-radius: 4px;
    font-weight: 600;
    color:#FF0E0A;
}

.pro_d li:nth-child(3) a:hover div{
    height: 40px;
}

/* 导航栏下面图区 */
.down-pic_d{
    width:100%;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    background-color: skyblue;
    background: url(../images/首页底面.jpg) no-repeat center top;
}

.pic-box_d{
    width: 896px;
    height: 100%;
    margin:0 auto;
    overflow: hidden;
}

.pic-box_d div{
    position: relative;
    /* left:0px; */
}

.pic-box_d div i{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    font-style: DOUYU-Font;
    opacity: 0.76;
    
}

.pic-box_d div .former_d{
    color:#fff;
    position: relative;
    /* margin-top:130px; */
}

.later_d{
    color:#F23936;
    margin-top:130px;
}

.both_d{
    position: relative;
    top:-30px;
}

.mid_d{
    margin-left:60px;
}

.la_d .both_d{
    top:-60px;
}

.mid_d .both_d{
    top:-50px;
}

.pic-box_d span{
    display: inline-block;
    width: 175px;
    height: 48px;
    margin-top:20px;
    margin-left:80px;
    line-height: 48px;
    text-align: center;
    background-color: #F75F5C;
    border-radius: 9px;
}

.pic-box_d span a{
    font-style: italic;
    font-size: 22px;
}

/* 创意简介 */
.intro_d{
    position: relative;
    width: 70%;
    height: 643px;
    /* background-color:beige; */
    margin:30px auto;
    overflow: hidden;
}

.in_d{
   position: absolute;
   left:14%;
}

.intro_d .rig_d{
    left:800px;
    bottom:-14px;
}

.intro_d h2{
    width: 263px;
    height: 102px;
    line-height: 102px;
    font-style: italic;
    color:#CC4341;
    margin:40px auto;
    background:url(../images/跳娃.png) no-repeat -11px 1px;
    font-size: 40px;
}

p{
    width: 100%;
    text-indent: 2em;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 3px;
}

h6{
    width: 100%;
    font-size: 16px;
    line-height: 42px;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 400;
}

/* 志愿项目 */
.voo_d{
    position: relative;
    width: 70%;
    height: 900px;
    /* background-color:cornflowerblue; */
    margin:40px auto;
    overflow: hidden;
}

.voo_d h2{
    width: 263px;
    height: 102px;
    line-height: 102px;
    font-style: italic;
    color:#CC4341;
    margin:40px auto;
    background:url(../images/跳娃.png) no-repeat -13px 1px;
    font-size: 40px;
}

 .here_d{
    color:#CC4341;
    font-size: 22px;
    font-style:italic;
    margin-left:15px;
}

.voo_d .more_d{
    position: absolute;
    right:60px;
    top:62px;
    color:#000;
    font-size: 18px;
    cursor: pointer;
}

.heart_d{
    position: absolute;
    width: 50px;
    right:0px;
    top:60px;
    cursor: pointer;
}

.voo_d p{
    margin-top:35px;
    background: url(../images/烟花4.png) no-repeat right bottom;
    font-size: 16px;
}

.wave_d{
    width: 100%;
    height: 694px;
    background-color: #CC4341;
    margin-top:30px;
}

/* 风采展示 */
.show_d{
    position: relative;
    width: 70%;
    height: 910px;
    /* background-color: pink; */
    margin:80px auto;
    overflow: hidden;
}

.show_d h2{
    width: 263px;
    height: 102px;
    line-height: 102px;
    font-style: italic;
    color:#CC4341;
    margin:40px auto;
    background:url(../images/跳娃.png) no-repeat -13px 1px;
    font-size: 40px;
}

.show_fire_d{
    left:0px;
}

.show_fire2_d{
    left:650px;
    top:50px;
}

.show_d .more_d{
    position: absolute;
    right:60px;
    top:62px;
    color:#000;
    font-size: 18px;
    cursor: pointer;
}

.piano{
    position: relative;
    width: 70%;
    height: 536px;
    /* background-color: skyblue; */
    margin:50px auto;
    overflow: hidden;
}

.piano ul{
    width: 100%;
    height: 100%;
}

.piano ul li{
    position: absolute;
    width: 55%;
    cursor: pointer;
    transition: all 1.2s;
    -webkit-transition: all .2s;
}

.title_small{
    position:absolute;
    /* width: 151.857143px; */
    width: 160px;
    height: 100%;
    background-color: #CC4341;
    /* text-align: center; */
}

.piano ul li .title_small div{
    position: absolute;
    /* vertical-align: middle; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top:-100%;
    left:36%;
    width:50px;
    height: 100%;
    z-index: 6;
    color:#fff;
    font-size: 40px;
    line-height: 65px;
}



.piano ul li .title_small div span{
    display: inline-block;
    /* vertical-align: middle; */
}

.piano ul li img{
    width: 100%;
    height: 536px;
}

.inner_text p{
    display: none;
    position: absolute;
    width: 80%;
    bottom:30px;
    left:0px;
    color:#fff;
    z-index:5;
    font-size: 16px;
    margin-left:45px;
}

.shadow_d{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: url(../images/shadow.png) repeat;
    z-index: 1;
}

.right_d{
    display: inline-block;
    position: absolute;
    height: 200px;
    line-height: 200px;
    right:-14px;
    top:780px;
    padding-left:60px;
    background: url(../images/烟花4.png) no-repeat left 30px;
}


.show_fire3_d{
    left:980px;
    top:810px;
}

/* 关爱儿童 */
.child_d{
    position: relative;
    width:70%;
    height: 900px;
    /* background-color:lightcoral; */
    margin:70px auto;
    overflow: hidden;
}

.child_d p{
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 33px;
}

.muma{
    position: relative;
    width: 200px;
    height:115px;
    /* 透视也需要学习 */
    perspective: 800px;
    margin:150px auto;
}

.child_d h2{
    width: 249px;
    height: 41px;
    font-style: italic;
    color:#CC4341;
    margin:40px auto;
}

.img_box_d{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* 过渡：后面切图的时间 */
    transition: all 1s;
}

.btn-l_d,.btn-r_d{
    position: absolute;
    top:50%;
    transform:translateY(-50%) ;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    opacity: .8;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    /* 文本不可选 */
    user-select: none;
}

.btn-l_d{
    left:-340px;
}

.btn-r_d{
    right:-340px;
}

.img_box_d div{
    position:absolute;
    width: 100%;
    height: 100%;
    /* z是扩展的范围 占据的横向空间 z是向外占领 */
    transform: rotateY(calc(var(--d)*45deg)) translateZ(320px);
}

.img_box_d div img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.img_box_d div h3{
    position: absolute;
    color:#000;
    left:25%;
    font-size: 16px;
}

.child_d .more_d{
    position: absolute;
    right:60px;
    top:62px;
    color:#000;
    font-size: 18px;
    cursor: pointer;
}

/* .child_d .muma{
    width: 100%;
    height: 387px;
    background-color:lightsteelblue;
    margin: 40px auto;
} */

.child_d .bottom_d{
    width: 100%;
    height: 280px;
    background-color:lightgreen;
    margin: 115px auto;
}

/* 侧边栏 */
.side_d{
    width: 100px;
    height: 400px;
    position: fixed;
    right:0px;
    bottom:0px;
    z-index: 100;
}

.side_d ul li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.side_d ul li:nth-child(odd){
    background-color: #FCEFEF;
}

.side_d ul li:nth-child(even){
    background-color:#CC4341;
}

.side_d li img{
    width: 100%;
    height: 100%;
}

/* 丝滑特效类名 */

/* 数据被修改了 */
.come-in {
    opacity: 1;
    transform: translateY(200px);
    animation: come-in 1s ease forwards;
  }

 .come-in:nth-child(odd) {
    animation-duration: 1s;
  }

  .already-visible {
    opacity: 1;
    transform: translateY(0px);
    animation: none;
  }

  @keyframes come-in {
    100% {
      transform: translateY(0px);
    }
  }
  
  .opaque {
    opacity: 0;
  }
  